// ==============================
// Override Variables
// ==============================
$global-background-color-dark: #282c35;

$header-background-color: #fa3840;

$global-font-color-dark: #DDD;

$global-link-hover-color: #fa3840;
$pagination-link-color: #fa3840;

$global-color-accent: #fa3840;
$global-border-color: #fa3840;
$single-link-color: #fa3840;
$single-link-hover-color: #fa3840;

$header-hover-color: #fff;
$header-hover-color-dark: #fff;