{{- $profile := .Site.Params.home.profile -}}
<div class="home-profile">
   <img src="/images/web_banner.jpg" />
   <h1 style="font-family: 'Staatliches'; font-size: 48px; color: #fa3840; margin-bottom: -10px;">Junk Muffler</h1>
   <center>
      <h2>Maker of questionable art, music, and random stuff.</h2>
      <a href="https://open.spotify.com/artist/4XISMiLl1DrctPI51rSDKD" style="color: #fa3840; font-weight: bold;">Spotify</a> |
      <a href="https://music.apple.com/us/artist/junk-muffler/1553783951" style="color: #fa3840; font-weight: bold;">Apple Music</a> |
      <a href="https://music.youtube.com/channel/UCv8-iTvPTk5Xtkn5PQBJy1w" style="color: #fa3840; font-weight: bold;">YouTube Music</a> |
      <a href="https://www.amazon.com/s?k=Junk+Muffler&i=digital-music&search-type=ss&ref=ntt_srch_drd_B08WM31HJT" style="color: #fa3840; font-weight: bold;">Amazon Music</a> |
      <a href="https://junkmuffler.bandcamp.com/" style="color: #fa3840; font-weight: bold;">Bandcamp</a> |
      <a href="https://soundcloud.com/junkmuffler" style="color: #fa3840; font-weight: bold;">SoundCloud</a> 
  </center>
</div>
